@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    scroll-behavior: smooth;
  }
  .heading-class {
    background: linear-gradient(
      159deg,
      rgba(37, 37, 50, 0.98) 0%,
      rgba(35, 35, 45, 0.98) 100%
    );
  }
  .hire-btn {
    transition: all 0.3s ease-in-out;

    box-shadow: 10px 10px 0 #191923;
  }
  .hire-btn:hover {
    background: linear-gradient(
      159deg,
      rgba(37, 37, 50, 0.98) 0%,
      rgba(35, 35, 45, 0.98) 100%
    );

    translate: 5px -5px;
    box-shadow: none;
  }

  .timeline {
    position: relative;

    border-left: 5px solid #191923;
  }
  .timeline div {
    padding: 2rem;
    border: 1px solid white;
    border: none;
    margin-bottom: 1rem;
    background-color: #343a40;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
  }

  .timeline div::before {
    position: absolute;
    content: "";
    left: -42px;
    top: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #99f7ab;
    background: #191923;
  }
  .timeline div::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #343a40;
    top: 10px;
    left: -4px;
  }
  .vertext {
    /* text-orientation: upright; */
    writing-mode: vertical-rl;
  }
}
